/* Credit to Ilya Pestov for design of pedigree tree. Original code at https://codepen.io/Pestov/pen/AvQmxv. */

* {margin: 0; padding: 0;}

#banner{
	background-color: rgb(70, 108, 165);
	display: flex;
	flex-direction: row-reverse;
	height: 50px;
	margin: 0px;
	padding: 10px;
	#links{
		display: flex;
		float: right;
		align-items: center;
		#txbiomed_logo{
			align-items: left;
		}
		#github_logo{
			float: right;
			vertical-align: middle;
			margin: 0 auto
			
		}
	}
}

body {
    background-color: rgb(250, 252, 255);
    font-family: Arial, Helvetica, sans-serif;
    //margin: 10px;
    padding: 0px;
}

h1 {
	font-family: Verdana, sans-serif;
}

h2, h3, h4, .TAC, .relatives{
	font-family: BahnSchrift, Helvetica, sans-serif;
	margin-top: 5px;
	margin-bottom: 5px;
}

.locked{
	opacity: 1;
}
// .unlocked:after{
// 	content: 'testing'
// }

.center div {
    display: flex;
	margin: 10px;
}

// .vertical {
//     list-style: none;
//     margin: 0;
//     padding: 0;
//     border: 1px solid #ccc;
//     border-radius: .5em;
//     width: 20em;
// 	li {
// 		border-top: 1px solid #ccc;
// 		padding: .5em;
// 		display: flex;
// 		justify-content: space-between;
// 		align-items: center;
// 		:first-child {
// 			border-top: 0;
// 		}
// 	}
// }

.tree_options {
	button, select {
		background-color: rgb(221, 231, 240);
		border-color: #94a0b4;
		border-style: solid;
		border-radius: 12px;
		border-width: thin;
		//font-family: arial, verdana, tahoma;
		font-size: 14px;
		margin: 2px;
		padding: 5px;
	}
	button:hover {
		cursor: pointer;
	}
}

.flex { // Contains all shaded boxes
	display: flex;
	flex-direction: row;
	.main_column { // Contains trees layed out vertically
		display: flex;
		flex-direction: column;
		overflow-y: auto; // For some reason, this seems to be required for the .tree overflow-y to work
		.tree {
			overflow-y:auto;
		}
	}
	.info_column { // Contains individual-specific data
		float: right;
		//flex-grow: 1;
		margin-right: 32px;
		min-width: 175px;
		//width: 5%;
		.info_box {
			display: flex;
			flex-direction: column;
			//margin: 0px;
			//width: 175px;
			h2 {
				margin: 0px;
				padding: 0px;
			}
			.species {
				font-family: BahnSchrift;
				font-style: italic;
				margin-top: 0px;
				margin-bottom: 0px;
			}
			#indiv_lock {
				background: none;
				border-style: none;
				color: rgba(0, 0, 0, 0.6);
				float: right;
				text-align: right;
				font-size: 22px;
			}
			#indiv_lock:hover {
				cursor: pointer;
			}
			.seqs {
				margin-top: 5px;
				margin-bottom: 5px;
				.seq{
					border-style: solid;
					border-radius: 12px;
					border-width: thin;
					//font-family: arial, verdana, tahoma;
					font-size: 14px;
					margin: 2px;
					padding: 5px;
				}
				.lrWGS {
					background-color: #e7ddae;
					border-color: #e3b36a;
				}
				.WGS {
					background-color: #c0e7ae;
					border-color: #86cf3c ;
				}
				.WES {
					background-color: #aee7e0;
					border-color: #3cc9cf;
				}
				.GBS {
					background-color: #aeb4e7;
					border-color: #966ae3;
				}
				.AMP {
					background-color: #e7aeae;
					border-color: #e36a6a;
				}
			}
			.TAC {
				text-align: right;
			}
			.relatives {
				margin-top: 5px;
				margin-bottom: 5px;
			}
		}
	}
}

.box {
	border-style: solid;
	border-radius: 25px;
	border-width: thin;
	background: #ecf6fa;
	padding: 20px;
	margin: 15px;

}

.tree {
	display: flex;
	//justify-content: center;
	text-align: center;
	.generations {
		display: flex;
		flex-direction: column;
		padding-top: 3px;
		p {
			padding-top: 20px;
			padding-bottom: 25px;
		}
		p:hover {
			cursor: pointer;
		}
	}
	ul {
		padding-top: 20px; position: relative;
		display: flex; /* Keeps nodes from wrapping */
		/*flex-direction: column-reverse;
		/*Downward connectors from parents*/
		ul::before {
			content: '';
			position: absolute; top: 0; left: 50%;
			border-left: 1px solid #ccc;
			width: 0; height: 20px;
		}
	}
	li {
		//left: -35px; //Everythin offset so that mates don't overlap with parent element
		float: left; text-align: center;
		list-style-type: none;
		position: relative;
		padding: 20px 5px 0 5px;
		
		transition: all 0.5s;
		a {
			border: 1px solid #ccc;
			padding: 5px 10px;
			text-decoration: none;
			color: rgb(102, 102, 102);
			font-family: arial, verdana, tahoma;
			font-size: 11px;
			display: inline-block;
			
			border-radius: 5px;
			
			transition: all 0.5s;
		}
		a:hover, a:hover+ul li a {
			/*background: #c8e4f8; color: #000; border: 1px solid #94a0b4;*/
			background: rgba(0, 128, 128, 0.308);
			color: #000;
			border: 1px solid #94a0b4;
		}
		// Highlight lines on hover
		a:hover + ul li::after,
		a:hover + ul li::before,
		a:hover + ul::before,
		a:hover + ul ul::before {
			border-color: #94a0b4;
		}
	}
	// Horizontal lines
	li::before, li::after{
		content: '';
		position: absolute; top: 0; right: 50%;
		border-top: 1px solid #ccc;
		width: 50%; height: 20px;
	}
	li::after{
		right: auto; left: 50%;
		border-left: 1px solid #ccc;
		//transform: scaleX(-1);
	}
	/*Remove left-right connectors from elements without 
	any siblings*/
	li:only-child::after, li:only-child::before {
		display: none;
	}

	/*Remove space from the top of single children*/
	li:only-child{ padding-top: 0;}

	// /*Remove left connector from first child and 
	// right connector from last child*/
	// li:first-child::before, li:last-child::after{
	// 	border: 0 none;
	// }

	// Remove end horizontal lines when last node.
	// This also takes into account when the true last (mate) node is hidden.
	li:first-child::before, li:last-child::after,
	li.hidden:first-child + li::before,
	li.hidden:last-child + li::after
	//li.hidden + li::after
	{
		// content: '';
		// position: absolute; top: 0; right: 50%;
		// border-top: 8px solid #ccc;
		// width: 50%; height: 20px;
		border: 0 none;
	}

	/*Add back the vertical connector to the last nodes*/
	li:last-child::before,
	li.hidden:last-child + li::before{
		border-right: 1px solid #ccc;
		border-radius: 0 5px 0 0;
	}
	li:first-child::after,
	li.hidden:first-child + li::after{
		border-radius: 5px 0 0 0;
	}
	#ancestors {
		transform: rotate(180deg);  //Rotate tree
		float: left;
		a{
			transform: rotate(180deg);  //Rotate ids back
		}
	}
}

.node {
	background-color: rgb(221, 231, 240);
	//float: left;
	//transform: translate(50%, 0)
}

.mate {
	//display: unset;
	//background-color: rgb(231, 71, 71);
	//top: 30;
	//display: block;
	position: absolute;
	//bottom: 109px; // 88px or 89px both aren't quite perfect
	//bottom: 89px; // 88px or 89px both aren't quite perfect

	//bottom: 50%;
	//	position: absolute; top: 0; right: 50%;

	// Exactly 0.88px lines up the lines
	// However, this then offsets the mate's box
	transform: scaleY(-1) translate(0, 100%) translate(0, -0.88px);
	//left: -50px;
	a {
		transform: scaleY(-1);
	}
}
// .mate {
// 	a::after{
// 	right: auto; right: 50%;
// 	border-left: 8px solid #ccc;
// 	transform: scaleX(-1);
// 	}
// }
/*Togglable class for when nodes are hidden.*/
.collapsed {
	background-color: #eccd91;
}

.hidden {
	display: none;
	//width: 10px;
	//transition: all 2s ease-in;
}

/*Toggable class for making nodes more condensed*/
.condensed {
	width: 3px;
	white-space: nowrap;
	p {
		color: rgba(0, 0, 0, 0);
	}
}

.proband {
	font-weight: bold;
}

.discrete_value{
	background-color: #e36a6a;
}

.figure_toolbar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: auto; // Centers toolbar
	//padding: 0px;

	.figure_option {
		display: flex;
		flex-direction: column;
		margin: 0px;
		padding: 0px;
		#first { // Round first box
			border-top-left-radius: 12px;
			border-bottom-left-radius: 12px;
		}
		#last { // Round last box
			border-top-right-radius: 12px;
			border-bottom-right-radius: 12px;
		}
		img {
			border-style: solid;
			//border-radius: 12px;
			border-width: thin;
			height: 70px;
			width: 70px;
		}
		div {
			display: block;
			font-family: BahnSchrift, Helvetica, sans-serif;
			font-size: 11px;
			text-align: center
		}

	}

}

#instructions{
	display:flex;
	flex-direction: column;
}


