<!DOCTYPE html>
<html>
    <head>
        {% block tab %}{% endblock %}
        {% load static %}
        <link rel='stylesheet' type='text/css' href='{% static "tree/base.css" %}'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    </head>
    <body>
        <nav>
        </nav>
        <div id='banner'>
            <img id='txbiomed_logo'></img>
            <div id='links'>
                <a id='github_logo' href='https://github.com/allytrope/dendra'><img width=30px src='{% static "tree/img/github.svg" %}'></img></a>
                {% comment %} <a id='external_link' href=''><img id='txbiomed_logo'></img> {% endcomment %}
            </div>
        </div>
        <div class="center">
            {% block center %}{% endblock %}
        </div>
        <script src='{% static "tree/tree.js" %}'></script>
    </body>
</html>
